#haggle-title{
    font-size: 28px;
}
#haggle-product-name{
    font-size: 20px;
}
#haggle-response{
    margin: 20px;
}
.haggle-fields{
    margin: 20px;
}
.haggle-field{
    margin-bottom: 10px;
}
.haggle-field input[type=text],
.haggle-field textarea{
    width: 300px;
}
.align-center{
    text-align: center;
}
span.required{
    position: relative;
}

span.required:after{
    color: red;
    content: "*";
    font-size: 16px;
    right: 10px;
    top: 3px;
    position: absolute;
}
label.error{
    display: block;
}