<link type='text/css' href='{$wa_app_static_url}plugins/haggle/css/basic.css' rel='stylesheet' media='screen' />
<!-- IE6 "fix" for the close png image -->
<!--[if lt IE 7]>
<link type='text/css' href='{$wa_app_static_url}plugins/haggle/css/basic_ie.css' rel='stylesheet' media='screen' />
<![endif]-->
<style>
    #haggle_table{
        margin: 0 auto;
    }
    #haggle_table td{
        padding: 5px;
    }
    .response{
        color: #FF0000;
        font-weight: bold;
        text-align: center;
    }
</style>
<script type='text/javascript' src='{$wa_app_static_url}plugins/haggle/js/jquery.simplemodal.js'></script>
<script type='text/javascript'>
    jQuery(function($) {

        function is_numeric(mixed_var) {

            return (typeof mixed_var === 'number' || typeof mixed_var === 'string') && mixed_var !== '' && !isNaN(mixed_var);
        }


        $('#haggle_form').submit(function() {

            var required = false;
            $('.required_field').each(function() {
                if (!$(this).val().length) {
                    required = true;
                    $(this).css('border', '2px solid red');
                }
            });
            if (required) {
                $('.response').html('Заполните обязательные поля');
                $('.response').css('color', 'red');

            } else if (!is_numeric($('#haggle_price').val())) {
                $('.response').html('Цена должна быть числом');
                $('.response').css('color', 'red');
            } else if (parseFloat($('#haggle_price').val()) < 0) {
                $('.response').html('Цена должна быть больше нуля');
                $('.response').css('color', 'red');
            } else {
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize() + '&' + $('#cart-form').serialize(),
                    dataType: 'json',
                    success: function(data, textStatus, jqXHR) {
                        if (data.status == 'ok') {
                            $('#cart-form').submit();
                            $.modal.close();
                        } else {
                            $('.response').css('color', 'red');
                            $('.response').text(data.errors);
                        }

                    }
                });
            }
            $('.response').show();
            setTimeout(function() {
                $('.required_field').css('border', '');
                $('.response').hide();
            }, 5000);


            return false;
        });
        $('.haggle_link').click(function(e) {
            $('#modal-content').modal();
        });
    });
</script>
<div class="haggle_block">
    <a class="haggle_link" href="javascript:void(0);">{$settings.text_button|escape}</a>
    <div id="modal-content" style="display: none">
        <h2 align="center">{$settings.text_title|escape}</h2>

        <form id="haggle_form" action="{$wa_app_url}haggle/">
            <table  id="haggle_table">
                <tr>
                    <td>{$settings.text_link|escape}<span class="required">*</span>:</td>
                    <td><input id="haggle_url" class="required_field" type="text" name="url" /></td>
                </tr>
                <tr>
                    <td>{$settings.text_user_price|escape}<span class="required">*</span>:</td>
                    <td><input id="haggle_price" class="required_field" type="text" name="price" /></td>
                </tr>
                <tr>
                    <td>{$settings.text_message|escape}:</td>
                    <td><textarea name="message" cols="40" rows="10" ></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center" >
                        <input type="submit" value="Купить за свою цену"/>
                    </td>
                </tr>
            </table>
        </form>
        <div class="response"></div>
    </div>
</div>