<h3>Покупатель хочет поторговаться!</h3>

<p>
    Покупатель предлагает <strong>{shop_currency($request.price, $request.currency, $request.currency)}</strong>  за товар <strong>"{$request.product.name}"</strong>, 
    который стоит в Вашем интернет-магазине <strong>{shop_currency($request.product.price, null, $request.currency)}</strong>
</p>
<p>
    {$product_price = shop_currency($request.product.price, null, $request.currency, false)}
    Если Вы согласитесь с ценой покупателя, в этом случае скидка на товар составит 
    <strong>{shop_currency($product_price - $request.price, $request.currency, $request.currency)}  (или {round(($product_price - $request.price) / $product_price * 100)}%)</strong>
</p>

<table class="table">
    {foreach $request.additional_fields as $name =>  $value}
        <tr>
            <td>
                <strong>{$name}:</strong>
            </td>
            <td>
                {$value}
            </td>
        </tr>
    {/foreach}
</table>